{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<header>
    <a href=" {% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
</header>

{% block content %}
{% endblock content %}